services:

  postgres-auth:
    image: postgres:15
    container_name: postgres-auth
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U auth"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - bank-network

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    container_name: api-gateway
    depends_on:
      auth-service:
        condition: service_started
    ports:
      - "8080:8080"
    networks:
      - bank-network

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    container_name: auth-service
    depends_on:
      postgres-auth:
        condition: service_healthy
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-auth:5432/auth
      SPRING_DATASOURCE_USERNAME: auth
      SPRING_DATASOURCE_PASSWORD: auth
    ports:
      - "8081:8081"
    networks:
      - bank-network

  card-service:
    build:
      context: .
      dockerfile: card-service/Dockerfile
    container_name: card-service
    ports:
      - "8083:8083"
    networks:
      - bank-network

  transfer-service:
    build:
      context: .
      dockerfile: transfer-service/Dockerfile
    container_name: transfer-service
    ports:
      - "8084:8084"
    networks:
      - bank-network

networks:
  bank-network:
    driver: bridge
