server:
  port: 8080

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-service:8081/auth/jwks

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration

  cloud:
    gateway:
      httpclient:
        connect-timeout: 3000
        response-timeout: 5s
        pool:
          max-idle-time: 5000
      default-filters:
        - RemoveRequestHeader=Cookie

      routes:
        - id: card-service
          uri: lb://card-service
          predicates:
            - Path=/cards/**
          filters:
            - StripPrefix=1
          metadata:
            preserve-host: true

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: INFO
    reactor.netty.http.client: WARN
