server:
  port: 8083
  forward-headers-strategy: framework

spring:
  application:
    name: card-service

  datasource:
    url: jdbc:postgresql://postgres-card:5432/card
    username: card
    password: card
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-service:8081/auth/jwks

  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: card-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

logging:
  level:
    root: INFO